/* You can add global styles to this file, and also import other style files */
:root {
  --verde-principal: #2f7d5a;
  --verde-hover: #246347;
  --verde-claro: #e9f5ef;
  --gris-suave: #f4f6f5;
  --texto-principal: #1f2d27;
}
